/* CSS files add styling rules to your content */
body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: white;
}

h1 {
  font-size: 36px;
  text-align: center;
  font-family: italic;
  padding-top: 5%;
}

h2 {
  font-size: 36px;
  text-align: center;
  font-family: italic;
  padding-top: 5%;
  color: white;
}

p {
  text-align: center;
  font-family: italic;
  padding-top: 5%;
  color: white;
}

h3 {
  font-size: 36px;
  text-align: center;
  font-family: italic;
  padding-top: 5%;
  color: white;
}

#checkoutCart img {
  height: 30px;
  width: 30px;
  display: block;
}

.nav-link-border {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  word-spacing: 3mm;
  padding: 5px;
}
.pimg1,
.pimg2 {
  /*opacity:0.70;*/
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  /*
      fixed = parallax
      scroll = normal
    */
  background-attachment: fixed;
}
.pimg1 {
  min-height: 100%;
  background-image: url("https://cdn.glitch.com/bc2b3edf-253e-43f1-aeee-ad47b1a45520%2FAbout%20Background.jpg?v=1596049988037");
}
.pimg2 {
  min-height: 125%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSbeaK5DLRmaIAI9-eBidcoAubvuHIBFICsFw&usqp=CAU");
}
.left-side {
  display: flex;
  padding: 5px 5px;
  /*   margin: 20px 0 0 ;
padding: 10px 0;
 */
}
.left-side a {
  text-decoration: none;
  color: orange;
  /*   color : #e1b382; */
}
#frontText {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  font-weight: 400;
  font-family: "CustomFont";
  src: url("E-BrantScript.ttf");
}
.left-side a:hover {
  text-decoration: underline;
  color: purple;
}
.current-link a {
  color: limegreen;
  /*   color : #c89666; */
}
.sectionBorder1 {
  color: white;
  background-color: grey;
  height: 3cm;
  text-align: center;
}
.headText {
  text-size: 30px;
}
.nav-border {
  position: absolute;
  padding: 35px;
  z-index: 1;
  overflow: auto;
}
/* .nav-border > .left-side > div {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
} */

@media (max-width: 568px) {
  .pimg1 .pimg2 .pimg3 {
    background-attachment: scroll;
  }
}
