/* CSS files add styling rules to your content */

body, html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#FFC72C ;
  }
h1 {
  font-style: italic;
  color: #373fff;
}
button {
  width:5%;
  position: absolute;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

/* #checkoutCart img {
  height: 30px;
  width: 30px;
  display: block;
  background-color:transparent;
} */
button {
    display: inline-block;
    height: 134px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 104px;
}
#close-image img {
    display: block;
    height: 130px;  
    width: 100px;
}

.nav-link-border {
  height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
  word-spacing : 3mm;
  padding : 5px;
}
.pimg1 {
    
    /*opacity:0.70;*/
    position: relative;
    background-position:center center;
    background-size: cover;
    background-repeat:no-repeat;
  background-color: black;
    /*
      fixed = parallax
      scroll = normal
    */
    background-attachment:fixed;
  } 
.pimg1 {
  min-height : 100%;
  background-image: url("https://cdn.britannica.com/10/152310-050-5A09D74A/Sand-dunes-Sahara-Morocco-Merzouga.jpg") ;
}
.left-side {
  display:flex;
  padding: 5px 5px;
/*   margin: 20px 0 0 ;
padding: 10px 0;
 */
}
.left-side a{
  text-decoration : none;
  color : #e1b382;
}
.left-side a:hover{
  text-decoration : underline;
  color: blue;
}
.current-link a{
  color : #c89666;
}
.nav-border {
  position: absolute;
  padding: 35px;
  z-index: 1;
  overflow: auto;
}
/* .nav-border > .left-side > div {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
} */
/* .pimg2 {
  background-image: url("https://ca-times.brightspotcdn.com/dims4/default/ee45bed/2147483647/strip/true/crop/3563x2375+0+0/resize/1486x991!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F24%2F98%2F67b7fc894dfa8c7d913fb49fae51%2Fapphoto-mets-padres-baseball2.JPG");
} */
@media(max-width:568px){
    .pimg1 .pimg2 .pimg3{
      background-attachment:scroll;
    }
  }